
<div class="container">
<h1>New Game</h1>
  <div class="row">
    <% @letters.each do |letter| %>
      <div class="col-sm-1 text-center">
        <div class="p-3 mb-2 bg-info text-white">
          <%= letter %>
        </div>
      </div>
    <% end %>
  </div>
  <form class="form-group" action="score" method="post" data-turbo="false">
    <p><label for="word">What is the longest word you can find?</label></p>
    <p><input class ="form-control" type="text" id="word" name="word"></p>
  <input type="submit" value="Submit">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
  </form>

</div>
